.header{
	width: 100%;
	background: red;
	min-height: 100px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}
#footer {
	padding-top: 2%;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #E84D5B;
}

.project{
	margin-bottom: 5%;
	padding-top: 1%;
	padding-bottom: 1%;}

/* Right menu */
@media (min-width: 768px){
  .navbar-nav{
    display: table;
    table-layout: fixed;
    float:right;
    width: 50%;
    text-align: center;
  }
  .navbar-nav li {
  	width: 25%;
  }
}

/* Project panel */
.panel-project {
  border-color: transparent;
}
.panel-project > .panel-heading {
	font-size: 2em;
  background-color: #2A2C2B;
  border-color: transparent;
}
.panel-project > .panel-heading + .panel-collapse .panel-body {
  border-top-color: transparent;
}
.panel-project > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: transparent;
}
.nav-border{
	border-bottom: 2px #E84D5B solid;
}
.logo{
	width: 100px;
	height: 50px;
}

p.heading{
	 letter-spacing: 0px;
	 font-size: 30px;
	 font-family: "Playfair Display SC";
	 font-weight: 900;
	 font-style: italic;
	 line-height: 34px;
	 text-indent: 2px;
	 text-transform: none;
}